.items-container {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    color: #fff;
    background-color: #636e72;
    padding: .3rem;
    border-radius: 1rem;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 13rem;
    height: 20rem;
    margin: .3rem;
    padding: .5rem;
    cursor: pointer;
    border-radius: .5rem;
    color: #fff;
}

.item:hover {
    background-color: rgba(120, 130, 134, 1.0);
}

.item-title {
    font-size: .8rem;
    margin-bottom: .5rem;
    text-decoration: none;
    font-family: Microsoft JhengHei;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-img {
    max-width: 11rem;
    max-height: 85%;
}

@media (max-width:800px) {
    .items {
        flex-direction: column;
    }

    .item {
        flex-direction: row;
        width: 100%;
        height: 11rem;
    }

    .item>div {
        height: 100%;
    }

    .item-img {
        max-width: 100%;
        max-height: 100%;
    }

    .item-title {
        height: 100%;
        order: 2;
        font-size: 1.2rem;
        font-weight: 700;
        padding: .2rem .5rem;
        flex: 0 1 66%;
        margin: 0;
    }
}