.search-bar {
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    flex: 1 0;
    margin: 0 1.5rem;
    height: 100%;
}

.form-control {
    border-radius: .5rem;
    font-size: 1rem;
    box-shadow: none;
    border: none;
    padding: .3rem;
    padding-left: .6rem;
    outline: none;
    width: 100%;
    height: 100%;
}

.form-control:focus {
    box-shadow: 0 0 0 2pt #2f4999;
}
.searchbar-btn {
    display: flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin: 0;
    height: 100%;
    width: 2.5rem;
    justify-content: center;
    align-items: center;
}