*,html{
    box-sizing: border-box;
    font-size: 16px;
    margin:0;
    padding: 0;
    font-family: Microsoft JhengHei;
}
body{
    background-color: #2d3436 !important;
}
.container{
    margin:2rem auto;
    max-width: 100% !important;
    padding:0;
}
.loading{
    color:#fff;
    text-align: center;
    margin:2rem 0;
    font-size: 2rem;
}
.loader-primary{
    margin:auto;
    width:8rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
.input-group{
    margin:.5rem auto;
    width:60%;
}
.search-bar{
    max-width: 30rem;
    position: relative;
}
.form-control{
    border-radius: .5rem;
    font-size: 2rem;
    box-shadow: none;
    border: none;
    padding:.3rem;
    outline:none;
    width:100%;
}
.form-control:focus{
    box-shadow: 0 0 0 2pt #ff4d4d;
}
.btn{
    border:none;
    background-color: transparent;
    outline:none;
    font-size: 2rem;
    box-shadow: none;
    cursor: pointer;
    color:#fff;
    margin:.5rem;
}
.btn > a{
    font-size: 2rem;
    color:#fff;
}
.btn:disabled{
    visibility: hidden;
}
.searchbar-btn{
    display: inline-block;
    position: absolute;
    top:50%;
    right:0;
    transform: translate(0,-50%);
    margin:0;
    height: 100%;
    width:3rem;
}
.btn-svg{
    height: 50%;
}
.btn-group-wrap{
    text-align: center;
}
.items-container{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.items{
    display: flex;
    flex-wrap: wrap;
    margin:1rem 0;
    color:#fff;
    background-color: #636e72;
    padding:.3rem;
    border-radius: 1rem;
    justify-content: center;
}
.item{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:13rem;
    height:20rem;
    margin:.3rem;
    padding:.5rem;
    cursor: pointer;
    border-radius: .5rem;
    color:#fff;
}
.item:hover{
    background-color: rgba(120, 130, 134,1.0);
}
.item-title{
    font-size: .8rem;
    height: 15%;
    margin-bottom:.5rem;
    overflow: hidden;
    text-decoration: none;
    font-family: Microsoft JhengHei;
    display:inline-block;
}
.item-img{
    max-width: 11rem;
    max-height: 85%;
}
@media (max-width:800px){
    .items{
        flex-direction: column;
    }
    .item{
        flex-direction: row;
        width:100%;
        height: 11rem;
    }
    .item>div{
        height: 100%;
    }
    .item-img{
        max-width: 100%;
        max-height: 100%;
    }
    .item-title{
        height: 100%;
        order:2;
        font-size: 1.2rem;
        font-weight: 700;
        padding:.2rem .5rem;
        flex:0 1 66%;
        margin:0;
    }
}

.book-container{
    display: flex;
    color:#fff;
    padding:1.5rem;
}
.book-cover{
    width:48%;
}
.book-detail{
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}
.book-detail > h1{
    font-size: 1.5rem;
}
.book-detail > h2{
    font-size: 1.3rem;
}
.book-tag-type{
    color: #d9d9d9;
    font-size: 1rem;
    font-weight: 700;
}
.book-tag-tag{
    color: #d9d9d9;
    background: #4d4d4d;
    font-weight: 700;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 6px;
    margin:3px;
    font-size: 1rem;
}
.book-text{
    margin-top:auto;
    font-size: 1rem;
}
@media (max-width:800px){
    .book-container{
        flex-direction: column;
        align-items: center;
        border-bottom:1px solid #fff; 
        margin-bottom:.5rem;
        padding:2px 2px;
    }
    .book-cover{
        width:80%;
    }
    .book-detail{
        padding-left: 0;
        margin-top:1rem;
    }
    .book-detail > h1{
        font-size: 1.3rem;
    }
    .book-detail > h2{
        font-size: 1.1rem;
    }
    .book-text{
        font-size: .75rem;
        text-align: end;
    }
}
.img-container{
    display: flex;
    flex-wrap: wrap;
}
.img-box{
    margin:.5rem;
    width: 200px;
    
}
.img-box > img {
    max-width: 200px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #535c68;
}
@media (max-width:800px){
    .img-container{
        flex-direction: column;
        align-items: center;
    }
    .img-box{
        width: 80%;
        height: auto;
    }
    .img-box > img {
        max-width: 100%;
        max-height: 100%;
    }
}
.Back-btn{
    position: absolute;
    top:1rem;
    left: 1rem;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color:#fff;
    font-size: 2rem;
    width:3rem;
    height: 3rem;
    align-self: flex-start;
    cursor: pointer;
}

.reader-img-container{
    position: relative;
    display: flex;
    justify-content: center;
    width:min-content;
    margin:auto;
}

.reader-img-left{
    position: absolute;
    left: 0;
    height: 100%;
    width:50%;
    background-color:transparent;
    z-index: 1;
}
.reader-img-right{
    position: absolute;
    right: 0;
    height: 100%;
    width:50%;
    background-color:transparent;
    z-index: 1;
}
.reader-img-counter{
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin:1rem 0;
}
.img-loader-container{
    position: relative;
    min-height: 5rem;
    min-width: 5rem;
    overflow: hidden;
}
.img-loader-loader{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:5rem;
    height: 5rem;
}
.img-loader-error{
    font-size: 1rem;
    color:#fff;
}

@media(max-width:800px){
    .reader-img-container{
        width:100vw;
    }
    .reader-img-container img{
        max-width:100%;
        height: auto;
    }
}

.imageloader img{
    display: block;
    margin:0 auto;
}

.footer{
    font-size: .8rem;
    color:#fff;
    text-align: center;
    margin:0 3rem;
    margin-bottom: 1.2rem;
}
.footer>a{
    color:#74b9ff;
}